<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <form>
          <div>
            <label>Nombre</label>
            <input type="text" #nombre>
          </div>
          <div>
            <label>Apellido</label>
            <input type="text" #apellido>
          </div>
          <div>
            <label>Cargo</label>
            <input type="text" #cargo>
          </div>
          <div>
            <label>Salario</label>
            <input type="text" #salario>
          </div>
          <div>
            <button type="submit" id="botonregistrar" (click)="registrar(nombre.value, apellido.value, cargo.value, salario.value)">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<br/>
<app-empleado-hijo-c *ngFor="let empleado of empleados; let i=index" [listaEmpleado]="empleado" [indice]="i"></app-empleado-hijo-c> 
</div>